
/* === SKELETON STYLES === */
@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.skeleton-item {
    background: #f6f7f8;
    background-image: linear-gradient(
        to right,
        #1d1d1d 0%,
        #2a2a2a 20%,
        #1d1d1d 40%,
        #1d1d1d 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 100%;
    display: inline-block;
    position: relative;
    animation: shimmer 1.2s ease-in-out infinite;
    /* Ensure skeleton posters have size */
    min-width: 180px; 
    height: 100%;
}

.row-poster.skeleton-item {
    /* Use the same height as the actual posters */
    max-height: 120px;
}

.row-poster.row-posterLarge.skeleton-item {
    max-height: 280px;
}

@media screen and (max-width: 768px) {
    .rowtitle {
        font-size: 1.2rem;
        padding-left: 0;
    }
}