.header-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 999;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

.header-black {
  background-color: var(--color-dark);
}

.header-container {
  height: 100%;
  margin: 0 auto;
}

/* === Left Section (Logo & Nav) === */
.header-left {
  gap: 10px;
}

.logo {
  height: 25px;
  min-width: 92px;
  margin-right: 15px;
}

.nav-list {
  list-style: none;
  gap: 20px;
}

.nav-item a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
}

.nav-item a:hover {
  color: var(--color-gray);
}

@media screen and (max-width: 1024px) {
  .nav-list {
    display: none;
  }
}

.header-right {
  height: 100%;
}

.icon-list {
  list-style: none;
  gap: 20px;
}

.icon-item {
  cursor: pointer;
  font-size: 1.1em;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}
