.footer-outer-container {
  background-color: #111;
  color: grey;
  height: 40vh;
  margin-top: 30px;
}
.footer-container {
  width: 60%;
  padding: 40px;
}
.footer-icons {
  width: 12%;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
}
.footer-data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12vh;
}
.footer-data ul li {
  cursor: pointer;
}
.service-code {
  border: #fff 1px solid;
  width: 10%;
  margin: 10px 0;
  cursor: pointer;
}
.copy-write {
  font-size: 12px;
  margin-bottom: 10px;
}