/* >==> General Styles <==< */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Best practice to include this */
}

/* ==> Define Netflix color palette and font */
:root {
  --color-dark: #141414; /* The main Netflix background */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #e50914; /* Netflix Red */
  --color-gray: #808080;
  --font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: var(--font-family-primary);
  overflow-x: hidden;
}

/* >==> Utility Classes Refinement <==< */
.flex-container {
    display: flex;
    align-items: center; 
}
.flex-center {
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}
.screen-padding {
    padding-left: 4%;
    padding-right: 4%;
}
.row-list-container {
    padding-top: 10px; 
    margin-top: -100px; 
}