/* >==> General Styles <==< */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #444;
}

/* >==> Utility Classes <==< */
.place-center, .place-between {
  display: flex;
  align-items: center;
}
.place-center {
  justify-content: center;
}
.place-between {
  justify-content: space-between;
}
.justify-between, .justify-center {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}